/* *{
    padding:0%;
    margin:0%;
    border:none;
} */

#wrapper{
    max-width: 1200px;
}

header{
    /* display: flex;
    justify-content: space-between; */
}

h1{
    float: left;
}
.topnav nav{
    display: none;
    clear: right; /* clears right floats */
    border: solid 1px black;
    padding: 0.5em;
}

#menu{
    float: right;
}

.discovernav {
    clear:both;
}


.discovernav a{
    display: block;
    padding: 10px;
    border-solid 1px white;
}

.dropdown {
    display: none;
}

.dropdown a{
    background-color: black
}

.discovernav li:hover .dropdown {
    display: block;
}

.program-select{
    margin-bottom: 1em;
    background-color: gray;
}