*{
    margin: 0;
    padding: 0;
    border: none;
}

nav li img{
    float: right;
    width: 15px;
}

nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color:gray;
    border-bottom: solid 1px black;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: darkturquoise;
}

.dropdown-menu a{
    background-color: #333;
    color: white;
}

.dropdown-menu a:hover {
    background-color: cadetblue;
}

.dropdown-menu {
    display: none;
}

nav li:hover .dropdown-menu{
    display: block;
}

p{
    margin: 10px;
}