#wrapper {
    max-width: 1200px;
}

header{
    padding:2em;
    height: 340px;
    background: 
     linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,0,20,1) 35%, rgba(0,0,0,0) 46%),
     url("images/friendscastphoto.jpg") no-repeat top right/65%;

}
nav li {
    display: inline;
    margin-right: 2em;
}


.episodes {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
      border:solid 1px gray;
      padding:5px;
      border-radius: 10px;
      margin: 2em;
}

.lead{
    width:33%;
    color: white;
}

h1 img{
    width: 300px;
}

.button{
    display:block;
    width: 3em;
    text-align: center;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.col{
    width: 48%;
    float: left;
    margin-right: 1%;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    padding: 0;
    background-color: white;
}

main {
    padding: 2em;
    background-color:lightgray;
    color: #000000;
}